a {
    text-decoration: none;
    width: 70%;
    
    
}

p {
    border: 2px green solid;
    background-color: white;
    padding :16px;
    color: black;
}

h1 {
    color: black;
}

h2 {
    color: rgba(0, 0, 0, 0.5)
}

.main-section {
    border: 2px solid green;
    background-color: #76eb95;
    padding : 32px;
    margin: 16px auto ;
    width: 70%;
    
}

.main-section:hover {
    border: 2px solid red;
}

.main-section#premium  {
    background-color: green;
    color: white;
}

.main-section#premium h1,
.main-section#premium h2{
    color: white;
}